* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Common CSS Start */
.main-title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    color: #2d2a2a;
}
/* Common CSS End */




/* Header CSS Start */

.header-top {
    padding: 2px 0;
    height: 35px;
    background-color: #003A1A !important;
}

.header-top  p {
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.logo a {
    color: green !important;
    font-size: 25px !important;
    font-weight: 500 !important;
}

.nav-colr a.nav-link {
    color: #000 !important;
}
.nav-colr a.nav-link:hover,
.nav-colr a.nav-link.active {
    color: green !important;
}

.header-icon ul {
    margin: 0;
    padding: 0;
}

.header-icon li {
    display: flex;
    float: left;
    padding-left: 14px;
}

.header-icon a {
    font-size: 20px;
    color: green;
}

.header-search input {
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.header-search button {
    border: none;
    background-color: inherit;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    right: 410px;
}

.header-bottom {
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}

.header-left a#navbarDropdown {
    background-color: green;
    border-radius: 3px;
    color: #fff;
}

.header-left ul {
    margin: 0;
    padding: 0;
}

.header-left ul.dropdown-menu.show {
    width: 262px;
}

.header-left a.dropdown-item {
    color: green;
}

.header-right {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}

.header-right a {
    color: green;
    font-size: 18px;
    font-weight: 500;
}

/* Header CSS End */

/* Banner CSS Start */
.banner-hight {
    height: 500px;
}
/* Banner CSS End */

/* Products Catagories CSS Start  */

.products-catagories  img {
    width: 141px;
    height: 141px;
}

.single-pro-cat-content {
    text-align: center;
}

.single-pro-cat-content h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}

.single-pro-cat-content p {
    color: #8e8e8e;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
/* Products Catagories CSS End  */

/* Our Product CSS Start */

.products-items {
    display: flex;
    justify-content: space-between;
}

.products-items .card {
    border: none;
}

.products-items .card-body {
    text-align: center;
}
.products-items .card-body h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(51, 51, 51, 0.7);
}

.products-items .card-body p {
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
}

.products-items a.btn.btn-primary {
    background-color: green;
    border-color: green;
}
/* Our Product CSS End */

/* Testimonials CSS Start */
.testimonials-area {
    background-color: #F8F8F8;
    margin: 40px 0;
}
.tes-img {
    width: 346px;
    height: 300px;
}

.test-text h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
}

.test-text span {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: #000000;
}
/* Testimonials CSS End */


/*-- Page Banner Section --*/
.page-banner-section {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 230px 0; }
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      .page-banner-section {
        padding: 150px 0; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .page-banner-section {
        padding: 150px 0; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .page-banner-section {
        padding: 120px 0; } }
    @media only screen and (max-width: 767px) {
      .page-banner-section {
        padding: 100px 0; } }
    @media only screen and (max-width: 479px) {
      .page-banner-section {
        padding: 60px 0; } }
    .page-banner-section .page-title h1 {
      font-size: 40px;
      line-height: 1;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      margin: 0; }
      @media only screen and (max-width: 767px) {
        .page-banner-section .page-title h1 {
          font-size: 24px; } }
      @media only screen and (max-width: 479px) {
        .page-banner-section .page-title h1 {
          font-size: 18px; } }

/*-- About Content --*/
.about-content {
  text-align: center;
  padding: 130px 0; 
  }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .about-content {
        margin-top: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .about-content {
        margin-top: 0; } }
    @media only screen and (max-width: 767px) {
      .about-content {
        margin-top: 0; } }
    .about-content h2 {
      font-size: 90px;
      color: green;
      text-transform: uppercase;
      margin-bottom: 20px; }
      .about-content h2 span {
        color: #83a931; }
    .about-content a.button {
      border: none;
      border-radius: 3px;
      display: inline-block;
      height: 40px;
      line-height: 24px;
      padding: 8px 35px;
      font-size: 12px;
      background-color: green;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 14px; }
      .about-content a.button:hover {
        background-color: green; }

/*-- Contact Wrapper --*/
.cart-section {
    background-color: #EFF2F5;
}
.contact-wrapper {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 70px;
    margin: 0 30px;
    position: relative; 
}
    @media only screen and (max-width: 767px) {
      .contact-wrapper {
        margin: 0 0 120px; 
    } 
}
    @media only screen and (max-width: 479px) {
      .contact-wrapper {
        padding: 40px; 
    } 
}
  
  /*-- Contact Info --*/
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-info {
      margin-bottom: 50px; 
    } 
}
  
  @media only screen and (max-width: 767px) {
    .contact-info {
      margin-bottom: 50px; 
    } 
}
  
  .contact-info .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 30px;
 }
  
  .contact-info ul {
    margin: 0;
    padding: 0;
 }

 .contact-social {
    display: flex;
    padding-top: 10px;
}
    .contact-info ul li {
      margin-bottom: 5px; 
    }
      .contact-info ul li span {
        color: #4d4d4d;
        margin-right: 10px; 
    }
  
  .contact-info .contact-social a {
    color: #7d7d7d;
    margin-right: 25px;
 }
    .contact-info .contact-social a:hover {
      color: green; 
    }
    .contact-info .contact-social a i {
      display: block;
      font-size: 16px; 
    }
  
  /*-- Contact Form --*/
  .contact-form {
    padding-left: 90px; 
}
    .contact-form::before {
      position: absolute;
      left: 30px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #e9e9e9;
      content: ""; 
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .contact-form {
        padding-left: 15px; 
    }
        .contact-form::before {
          display: none; 
        } 
    }
    @media only screen and (max-width: 767px) {
      .contact-form {
        padding-left: 15px; 
    }
        .contact-form::before {
          display: none;
         } 
        }
    .contact-form .title {
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 30px; 
    }
    .contact-form form input {
      display: block;
      height: 38px;
      border: 1px solid #e9e9e9;
      color: #7d7d7d;
      padding: 6px 17px;
      font-size: 13px;
      width: 100%;
      margin-bottom: 8px; 
    }
      .contact-form form input[type="submit"] {
        padding: 6px 44px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        width: auto;
        background-color: green;
        margin-bottom: 0; 
        color: #fff;
        border-radius: 3px;
    }
        .contact-form form input[type="submit"]:hover {
          background-color: green;
          border-color: green;
          color: #ffffff;
          font-weight: 700; 
        }
    .contact-form form textarea {
      display: block;
      height: 90px;
      resize: none;
      border: 1px solid #e9e9e9;
      color: #7d7d7d;
      padding: 6px 17px;
      font-size: 13px;
      width: 100%;
      margin-bottom: 8px; 
    }

/*-- Cart Table --*/
.cart-table {
    margin-bottom: 0; }
    .cart-table thead tr th {
      background-color: transparent;
      border-bottom: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0 !important;
      color: #4d4d4d;
      font-weight: 500;
      line-height: 54px;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle; }
      .cart-table thead tr th:first-child {
        border-left: 1px solid #e0e0e0; }
      .cart-table thead tr th.number {
        min-width: 66px; }
      .cart-table thead tr th.image {
        min-width: 140px;
        width: 140px; }
      .cart-table thead tr th.name {
        min-width: 250px; }
      .cart-table thead tr th.qty, .cart-table thead tr th.stock {
        min-width: 130px; }
      .cart-table thead tr th.price {
        min-width: 130px; }
      .cart-table thead tr th.total, .cart-table thead tr th.add-cart {
        min-width: 160px; }
      .cart-table thead tr th.remove {
        min-width: 100px; }
    .cart-table tbody tr td {
      border-bottom: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      padding: 0;
      vertical-align: middle; }
      .cart-table tbody tr td:first-child {
        border-left: 1px solid #e0e0e0; }
      .cart-table tbody tr td .cart-number {
        display: block; }
      .cart-table tbody tr td .cart-pro-image {
        display: block;
        margin: 15px auto;
        width: 100px; }
        .cart-table tbody tr td .cart-pro-image img {
          width: 100%; }
      .cart-table tbody tr td .cart-pro-title {
        font-size: 18px;
        color: #4d4d4d; }
        .cart-table tbody tr td .cart-pro-title:hover {
          color: #e11515; }
      .cart-table tbody tr td .product-quantity {
        display: inline-block;
        border: 1px solid #b5b5b5;
        border-radius: 4px; }
        .cart-table tbody tr td .product-quantity .qtybtn {
          width: 30px;
          float: left;
          height: 38px;
          text-align: center;
          color: #7d7d7d;
          cursor: pointer; }
          .cart-table tbody tr td .product-quantity .qtybtn:hover {
            color: #e11515; }
          .cart-table tbody tr td .product-quantity .qtybtn i {
            font-size: 16px;
            display: block;
            line-height: 38px; }
        .cart-table tbody tr td .product-quantity input {
          float: left;
          background-color: transparent;
          border: none;
          height: 38px;
          width: 36px;
          color: #7d7d7d;
          line-height: 24px;
          font-size: 14px;
          padding: 7px 5px;
          text-align: center; }
      .cart-table tbody tr td .stock {
        margin-bottom: 0;
        text-transform: uppercase; }
        .cart-table tbody tr td .stock.in-stock {
          color: #30b878; }
      .cart-table tbody tr td .wl-add-cart-btn {
        display: inline-block;
        height: 40px;
        background-color: #4d4d4d;
        color: #ffffff;
        text-transform: uppercase;
        padding: 8px 25px;
        border: none;
        font-size: 12px;
        font-weight: 700;
        border-radius: 5px; }
        .cart-table tbody tr td .wl-add-cart-btn:hover {
          background-color: #83a931; }
      .cart-table tbody tr td .cart-pro-remove {
        background-color: transparent;
        border: medium none;
        color: #7d7d7d;
        padding: 0;
        width: 24px; }
        .cart-table tbody tr td .cart-pro-remove:hover {
          color: #e11515; }
        .cart-table tbody tr td .cart-pro-remove i {
          display: block;
          font-size: 18px; }
  
  .cart-action .button {
    display: block;
    float: left;
    height: 40px;
    background-color: #4d4d4d;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 25px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 479px) {
      .cart-action .button {
        margin-right: 0;
        margin-bottom: 0; } }
    .cart-action .button:hover {
      background-color: #83a931; }
    .cart-action .button:last-child {
      margin-right: 0; }
      @media only screen and (max-width: 479px) {
        .cart-action .button:last-child {
          margin-top: 10px; } }
  
  .cart-cuppon .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0; }
  
  .cart-cuppon p {
    margin-bottom: 15px; }
  
  .cart-cuppon .cuppon-form input {
    border-color: transparent;
    height: 40px;
    margin-bottom: 18px;
    padding: 9px 15px;
    width: 100%;
    color: #7d7d7d; }
  
  .cart-cuppon .cuppon-form .button {
    display: block;
    float: left;
    height: 40px;
    background-color: green;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 25px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px; }
    .cart-cuppon .cuppon-form .button:hover {
      background-color: green; }
  
  .cart-checkout-process .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: right; }
  
  .cart-checkout-process p {
    margin-bottom: 15px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: right; }
    .cart-checkout-process p span {
      display: block;
      float: left;
      width: 42%; }
      .cart-checkout-process p span:last-child {
        width: 58%; }
  
  .cart-checkout-process h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: right;
    margin: 0 0 30px; }
    .cart-checkout-process h5 span {
      display: block;
      float: left;
      width: 42%; }
      .cart-checkout-process h5 span:last-child {
        width: 58%; }
  
  .cart-checkout-process .button {
    display: block;
    float: right;
    height: 40px;
    background-color: green;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 25px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px; }
    .cart-checkout-process .button:hover {
      background-color: green; }
  
  /*----------------------------------------*/    
/*  8.  Checkout Section
/*----------------------------------------*/
.panel-group {
    margin: 0; }
    .panel-group .single-accordion {
      background-color: transparent;
      border: medium none;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-bottom: 10px;
      margin-top: 0 !important; }
      .panel-group .single-accordion:last-child {
        margin-bottom: 0; }
  
  .accordion-head {
    background-color: #83a931;
    color: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 42px;
    line-height: 42px;
    padding: 0 12px 0 28px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%; }
    .accordion-head:focus, .accordion-head:hover {
      color: #ffffff; }
    .accordion-head.collapsed {
      background-color: #ffffff;
      color: #4d4d4d; }
      .accordion-head.collapsed:focus {
        color: #4d4d4d; }
      .accordion-head.collapsed:hover {
        color: #83a931; }
  
  .accordion-body {
    padding-top: 30px; }
  
  .checkout-method-list {
    float: left;
    margin-bottom: 15px;
    width: 100%; }
    .checkout-method-list li {
      display: block;
      text-transform: capitalize;
      cursor: pointer;
      float: left;
      margin-right: 30px; }
      .checkout-method-list li::before {
        content: "\f192";
        font-family: 'Fontawesome';
        float: left;
        line-height: 24px;
        padding-left: 1px;
        margin-right: 10px;
        font-size: 16px; }
      .checkout-method-list li.active::before {
        color: #83a931; }
  
  .shipping-method h5 {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 15px; }
  
  .shipping-method p span {
    font-weight: 700;
    color: #4d4d4d;
    text-transform: capitalize;
    margin-right: 10px; }
  
  .payment-method-list {
    float: left;
    margin-bottom: 15px;
    width: 100%; }
    .payment-method-list li {
      display: block;
      text-transform: capitalize;
      cursor: pointer;
      float: left;
      margin-right: 30px; }
      .payment-method-list li::before {
        content: "\f192";
        font-family: 'Fontawesome';
        float: left;
        line-height: 24px;
        padding-left: 1px;
        margin-right: 10px;
        font-size: 16px; }
      .payment-method-list li.active::before {
        color: #83a931; }
  
  .shipping-form-toggle {
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-bottom: 20px; }
    .shipping-form-toggle::before {
      content: "\f192";
      font-family: 'Fontawesome';
      float: left;
      line-height: 24px;
      padding-left: 1px;
      margin-right: 10px;
      font-size: 16px; }
    .shipping-form-toggle.active::before {
      color: #83a931; }
  
  .checkout-login-form {
    float: left;
    width: 100%; }
    .checkout-login-form .input-box input {
      width: 100%;
      border: none;
      background-color: #ffffff;
      height: 40px;
      line-height: 24px;
      padding: 8px 15px;
      color: #7d7d7d;
      font-size: 12px;
      float: left; }
      .checkout-login-form .input-box input[type="submit"] {
        width: 120px;
        margin-right: 0;
        background-color: #83a931;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0; }
        .checkout-login-form .input-box input[type="submit"]:hover {
          background-color: #74952b; }
  
  .checkout-register-form {
    display: none;
    float: left;
    width: 100%; }
    .checkout-register-form .input-box input {
      width: 100%;
      border: none;
      background-color: #ffffff;
      height: 40px;
      line-height: 24px;
      padding: 8px 15px;
      color: #7d7d7d;
      font-size: 12px;
      float: left; }
      .checkout-register-form .input-box input[type="submit"] {
        width: 120px;
        margin-right: 0;
        background-color: #83a931;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0; }
        .checkout-register-form .input-box input[type="submit"]:hover {
          background-color: #74952b; }
  
  /*-- Checkout Billing & Shipping Form --*/
  .checkout-form {
    float: left;
    width: 100%; }
    .checkout-form.shipping-form {
      display: none; }
    .checkout-form input {
      width: 100%;
      border: none;
      background-color: #ffffff;
      height: 40px;
      line-height: 24px;
      padding: 8px 15px;
      color: #7d7d7d;
      font-size: 12px;
      float: left; }
    .checkout-form select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: rgba(0, 0, 0, 0) url("img/icon/select-arrow-down.png") no-repeat scroll right 5px center;
      width: 100%;
      border: none;
      background-color: #ffffff;
      height: 40px;
      line-height: 24px;
      padding: 8px 15px;
      color: #7d7d7d;
      font-size: 12px;
      float: left; }
      .checkout-form select option {
        padding: 5px 15px; }
    .checkout-form textarea {
      width: 100%;
      border: none;
      background-color: #ffffff;
      height: 120px;
      line-height: 24px;
      padding: 8px 15px;
      color: #7d7d7d;
      font-size: 12px;
      float: left; }
  
  /*-- Checkout Payment Form --*/
  .payment-form {
    float: left;
    width: 100%;
    display: none; }
    .payment-form label {
      display: block;
      font-size: 12px; }
    .payment-form input {
      width: 100%;
      border: none;
      background-color: #ffffff;
      height: 40px;
      line-height: 24px;
      padding: 8px 15px;
      color: #7d7d7d;
      font-size: 12px;
      float: left; }
    .payment-form select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: rgba(0, 0, 0, 0) url("img/icon/select-arrow-down.png") no-repeat scroll right 5px center;
      width: 100%;
      border: none;
      background-color: #ffffff;
      height: 40px;
      line-height: 24px;
      padding: 8px 15px;
      color: #7d7d7d;
      font-size: 12px;
      float: left; }
      .payment-form select option {
        padding: 5px 15px; }
    .payment-form a {
      color: #e11515;
      font-size: 12px;
      margin-top: 5px; }
  
  .order-details-wrapper h2 {
    background: green;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 42px;
    line-height: 44px;
    padding: 0 12px 0 28px;
    text-transform: uppercase;
    width: 100%;
    margin: 0; }
  
  .order-details {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: left;
    float: left;
    width: 100%; }
    .order-details ul li {
      border-bottom: 1px solid #eeeeee;
      display: block;
      float: left;
      padding: 16px 28px;
      text-align: left;
      width: 100%; }
      .order-details ul li:last-child {
        border-bottom: 0 solid transparent; }
      .order-details ul li p {
        color: #606060;
        display: block;
        font-weight: 300;
        margin: 0;
        width: 60%;
        float: left; }
        .order-details ul li p:last-child {
          width: 40%; }
        .order-details ul li p.strong {
          color: #303030;
          font-weight: 600;
          text-transform: uppercase; }
        .order-details ul li p input {
          display: block;
          float: left;
          margin-right: 10px;
          margin-top: 3px; }
        .order-details ul li p label {
          color: #606060;
          display: block;
          float: left;
          font-weight: 300;
          margin: 0;
          overflow: hidden;
          line-height: 20px; }
      .order-details ul li .button {
        border: none;
        display: block;
        height: 40px;
        line-height: 24px;
        padding: 8px 15px;
        font-size: 12px;
        width: 150px;
        background-color: green;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700; }
        .order-details ul li .button:hover {
          background-color: green; 
        }

        .order-details-wrapper form {
            background-color: #fff;
            padding: 20px;
        }

        .order-details-wrapper label {
            color: #303030;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 30px;
        }

        .order-details-wrapper input.form-control {
            border: 1px solid #eeeeee;
        }

        .order-details-wrapper input.form-control {
            margin-bottom: 4px;
        }
  
  /*----------------------------------------*/
  /*  6.  Product Details Section
/*----------------------------------------*/
/*-- Single Product Thumbnail --*/
.single-product-thumbnail {
    width: 155px;
    margin-right: 20px;
    /*-- Thumbnail Arrows --*/ }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .single-product-thumbnail {
        width: 118px; } }
    @media only screen and (max-width: 767px) {
      .single-product-thumbnail {
        width: 100px; } }
    @media only screen and (max-width: 479px) {
      .single-product-thumbnail {
        width: 59px; } }
    .single-product-thumbnail .single-thumb {
      margin: 10px 0; }
      .single-product-thumbnail .single-thumb img {
        width: 100%; }
    .single-product-thumbnail .slick-arrow {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      z-index: 99;
      width: 34px;
      height: 34px;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      color: #7d7d7d;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden; }
      .single-product-thumbnail .slick-arrow:hover {
        background-color: #83a931;
        color: #ffffff; }
      .single-product-thumbnail .slick-arrow i {
        display: block;
        line-height: 34px;
        font-size: 20px; }
      .single-product-thumbnail .slick-arrow.slick-prev {
        top: -7px; }
        .single-product-thumbnail .slick-arrow.slick-prev i {
          margin-top: -2px; }
      .single-product-thumbnail .slick-arrow.slick-next {
        bottom: -7px; }
  
  /*-- Single Product Image --*/
  .single-product-image {
    margin-right: 41px;
    margin-top: 10px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 767px) {
      .single-product-image {
        margin-right: 0; } }
    .single-product-image .single-image img {
        width: 100%;
        height: 500px;
    }
  
  /*-- Single Product Content --*/
  .single-product-content {
    margin-top: 10px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-product-content {
        margin-top: 0; } }
    @media only screen and (max-width: 767px) {
      .single-product-content {
        margin-top: 0; } }
    .single-product-content .title {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      margin-top: 7px; }
      @media only screen and (max-width: 767px) {
        .single-product-content .title {
          font-size: 30px; } }
      @media only screen and (max-width: 479px) {
        .single-product-content .title {
          font-size: 24px; } }
    .single-product-content .product-rating {
      display: block;
      overflow: hidden;
      margin-bottom: 10px; }
      .single-product-content .product-rating i {
        font-size: 16px;
        color: #ffc741;
        float: left;
        margin: 4px; }
    .single-product-content .product-price {
      display: block;
      font-size: 26px;
      font-weight: 700;
      color: #4d4d4d;
      margin-bottom: 12px; }
      @media only screen and (max-width: 479px) {
        .single-product-content .product-price {
          font-size: 20px; } }
    .single-product-content .description {
      border-bottom: 1px solid #cfd7e2;
      padding-bottom: 15px;
      margin-bottom: 27px; }
    .single-product-content .product-color {
      display: block;
      margin-bottom: 40px; }
      .single-product-content .product-color h5 {
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        border-bottom: 1px solid #cfd7e2;
        padding-bottom: 5px;
        margin-bottom: 12px; }
      .single-product-content .product-color form {
        float: left;
        width: 100%; }
        .single-product-content .product-color form .color-box {
          position: relative;
          float: left;
          border-radius: 50%;
          overflow: hidden;
          width: 22px;
          height: 22px;
          margin-right: 10px; }
          .single-product-content .product-color form .color-box input {
            position: absolute;
            left: 0;
            top: 0;
            width: 22px;
            height: 22px;
            opacity: 0;
            cursor: pointer; }
            .single-product-content .product-color form .color-box input:checked + label::before {
              opacity: 1; }
          .single-product-content .product-color form .color-box label {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            cursor: pointer;
            text-indent: -99999px;
            margin: 0;
            position: relative; }
            .single-product-content .product-color form .color-box label::before {
              content: "\f00c";
              font-family: 'Fontawesome';
              line-height: 22px;
              font-size: 11px;
              display: block;
              width: 22px;
              height: 22px;
              position: absolute;
              left: 0;
              top: 0;
              color: #ffffff;
              text-indent: 0px;
              text-align: center;
              opacity: 0; }
    .single-product-content .product-quantity-cart {
      margin-bottom: 35px; }
      .single-product-content .product-quantity-cart .product-quantity {
        float: left;
        border: 1px solid #b5b5b5;
        border-radius: 4px;
        margin-right: 22px; }
        @media only screen and (max-width: 479px) {
          .single-product-content .product-quantity-cart .product-quantity {
            margin-right: 10px; } }
        .single-product-content .product-quantity-cart .product-quantity .qtybtn {
          width: 30px;
          float: left;
          height: 38px;
          text-align: center;
          color: #7d7d7d;
          cursor: pointer; }
          .single-product-content .product-quantity-cart .product-quantity .qtybtn:hover {
            color: #83a931; }
          .single-product-content .product-quantity-cart .product-quantity .qtybtn i {
            font-size: 16px;
            display: block;
            line-height: 38px; }
        .single-product-content .product-quantity-cart .product-quantity input {
          float: left;
          background-color: transparent;
          border: none;
          height: 38px;
          width: 36px;
          color: #7d7d7d;
          line-height: 24px;
          font-size: 14px;
          padding: 7px 5px;
          text-align: center; }
      .single-product-content .product-quantity-cart .add-to-cart {
        height: 40px;
        border-radius: 4px;
        border: none;
        background-color: green;
        color: #ffffff;
        font-size: 13px;
        line-height: 24px;
        padding: 8px 38px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer; }
        @media only screen and (max-width: 479px) {
          .single-product-content .product-quantity-cart .add-to-cart {
            padding: 8px 30px; } }
        .single-product-content .product-quantity-cart .add-to-cart:hover {
          background-color: green; }
    .single-product-content .product-action-button {
      margin-bottom: 24px; }
      .single-product-content .product-action-button button {
        display: block;
        float: left;
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 18px;
        margin-right: 25px;
        font-size: 12px;
        color: #7d7d7d;
        cursor: pointer;
        padding-left: 2px;
        margin-bottom: 5px;
        overflow: hidden; }
        .single-product-content .product-action-button button:hover {
          color: #83a931; }
        .single-product-content .product-action-button button i {
          float: left;
          margin-right: 10px;
          line-height: 18px;
          display: block;
          font-size: 20px;
          position: relative;
          top: -2px; }
    .single-product-content .product-share h6 {
      font-size: 12px;
      line-height: 20px;
      float: left;
      letter-spacing: 0.5px;
      font-weight: 700;
      margin-right: 20px;
      margin-bottom: 0;
      color: #7d7d7d; }
    .single-product-content .product-share a {
      float: left;
      color: #7d7d7d;
      margin-right: 25px; }
      .single-product-content .product-share a:hover {
        color: #83a931; }
      .single-product-content .product-share a i {
        display: block;
        line-height: 20px;
        font-size: 12px; }
  
  .pro-info-tab-list {
    margin-bottom: 20px; }
    .pro-info-tab-list li {
      margin-right: 15px; }
      .pro-info-tab-list li a {
        display: block;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        position: relative;
        line-height: 16px; }
        .pro-info-tab-list li a::before {
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #83a931;
          height: 2px;
          width: 0;
          content: ""; }
        .pro-info-tab-list li a:hover {
          color: #4d4d4d; }
        .pro-info-tab-list li a.active {
          color: #83a931; }
          .pro-info-tab-list li a.active::before {
            width: 30px; }
  
  .pro-info-tab .button {
    display: block;
    float: left;
    height: 40px;
    background-color: #4d4d4d;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 25px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px; }
    .pro-info-tab .button:hover {
      background-color: #83a931; 
    }

    .product-action-button ul {
        margin: 0 !important;
        padding: 0 !important;
      }
    
      .product-action-button span {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
    }
    
    .product-action-button a {
      color: #000;
    }
  
  /*----------------------------------------*/
  /* paginations css  */
  .pagination.text-center {
    display: flex;
    justify-content: center;
}

/* Login CSS Start */
.login-register {
    padding: 100px;
}

.login-register button.btn.btn-primary {
    background-color: green !important;
}

.login ul {
    margin: 0;
    padding: 0;
}

.login ul li {
    list-style: none;
    font-size: 14px;
    letter-spacing: 2px;
}

.login ul li i {
    padding: 12px 0;
}
/* Login CSS End */


/* Footer CSS Start  */

footer.footer-area {
    background-color: #003A1A;
    color: LEMONCHIFFON;
    padding: 40px 0 0 10px;
}

.footer-col-1 h3 {
    padding-bottom: 20px;
}

.footer-col-2 h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 10px;
}

.footer-col-2 ul {
    margin: 0;
    padding: 0;
}

.footer-col-2 ul li a {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
}

.footer-bottom.d-flex {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid;
    margin-top: 30px;
}
/* Footer CSS End  */